<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="org.xyz.auto.fb.HandleKBMouseWindows"/>
      <class name="testngDemo.TestScenario8"/>
      <class name="testngDemo.TestScenario10"/>
      <class name="testngDemo.TestScenario9"/>
      <class name="testngDemo.TestScenario6"/>
      <class name="testngDemo.TestScenario7"/>
      <class name="testngDemo.TestScenario4"/>
      <class name="testngDemo.TestScenario5"/>
      <class name="testngDemo.TestScenario"/>
      <class name="testngDemo.TestScenario2"/>
      <class name="testngDemo.TestScenario3"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
